body {
    text-align: center;
}

.container {
    display: grid;
    height: 100vh;
}

div{
    display: block;
}

.cloud{
    position: absolute;
    right: 300px;
    top: 40px;
}

.my-name{
    color: #66bfbf;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
}

.subheading{
    color:#66bfbf;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

.pro{
    text-decoration: underline;
}



.cloud2{
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.middle-container{
    margin: 100px 0;
    columns: #40514e;
    text-align: center;
    font-family: "Merriweather", serif;
}

.hello{
    color: #66bfbf;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

.intro{
    width: 30%;
    margin: auto;
}

.parent{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    width: 50%;
    margin: 100px auto 0 auto;
    text-align: left;
    row-gap: 2rem;
}


h3{
    color: #11999e;
    font-family: "Montserrat", sans-serif;
    display: block;
    font-size: 1.17em;
    font-weight: bold;
}

h2{
    color: #11999e;
    font-family: "Montserrat", sans-serif;
padding-bottom: 10px;
    font-size: 2.5rem;
    font-weight: normal;
}

.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}

.btn{
    background: #11cdd4;
}

.bottom-container{
    background-color: #66bfbf;
    padding: 50px 0 20px;
}

a{
    color: #11999e;
    font-family: "Monstserrat", sans-serif;
    margin: 10px 20px;

}

.copyright{
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0;
}

.catt , .chilli {
    height: 100px;
}